/tmp

# Build products
# --------------

/.build/*
!/.build/k
!/.build/pandoc-tangle

# Build products for Crypto / Hash

/ext/blockchain-k-plugin/plugin/*.cmi
/ext/blockchain-k-plugin/plugin/*.cmx
/ext/blockchain-k-plugin/plugin/*.o
