[submodule "deps/k"]
	path = deps/k
	url = https://github.com/kframework/k
[submodule "deps/blockchain-k-plugin"]
	path = deps/blockchain-k-plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin
