/.build/
/.kompile*
/.kprove*
/.krun*
/tests/**/*.out
/tmp
*~
**/#*
*.sh
unit-tests/verification/
simple-proofs/verification/
*.swo
*.swn
*.swp
/tests/**/*.flat.hex
/native-tokens/distnewstyle
/native-tokens/native-tokens/shell.nix
/stablecoin/distnewstyle
/stablecoin/stablecoin/shell.nix
