```k
requires "uplc.md"
requires "binsearch.md"

module VERIFICATION
  imports UPLC
  imports BINSEARCH
endmodule
```